.main_content
  .text_content
    .article
      Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds
      Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds
      Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds
      Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds
      Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds
      Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds
      Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds
      Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds
      Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds
      Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds
      Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds
      Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds
      Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds
      Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds
      Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds Minds
  .sub_menu
    %ul
      %li
        = sub_menu_link("Развивающая литература", '/minds/literature', "")
      %li
        = sub_menu_link("Философия", '/minds/philosophy', "")
      %li
        = sub_menu_link("Убеждения и вера", '/minds/faith', "")
      %li
        = sub_menu_link("Интересные статьи", '/minds/articles', "")
      %li
        = sub_menu_link("Позитивность", '/minds/positivity', "")
      %li
        = sub_menu_link("Метасообщения", '/minds/metamessage', "")
      %li
        = sub_menu_link("Дисциплина", '/minds/discipline', "")
      %li
        = sub_menu_link("О других людях", '/minds/other_people', "")
      %li
        = sub_menu_link("Духовное развитие", '/minds/soul', "")