.main_content
  .text_content
    .article
      Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally
      Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally
      Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally
      Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally
      Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally
      Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally
      Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally
      Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally
      Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally
      Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally
      Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally
      Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally
      Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally Generally
  .sub_menu
    %ul
      %li
        = sub_menu_link("О работе в общем", '/works/generally', "current_side_link")
      %li
        = sub_menu_link("Развитие навыка \"Работать\"", '/works/skill', "")
      %li
        = sub_menu_link("Любовь и желание работать", '/works/wish', "")
      %li
        = sub_menu_link("О вере и непоколебимости", '/works/inflexibility', "")
      %li
        = sub_menu_link("Настойчивость", '/works/persistence', "")
      %li
        = sub_menu_link("Уравновешенность", '/works/balance', "")