.main_content
  .sub_menu
    %ul
      %li
        = sub_menu_link("О работе в общем", '/works/generally', "")
      %li
        = sub_menu_link("Развитие навыка \"Работать\"", '/works/skill', "")
      %li
        = sub_menu_link("Любовь и желание работать", '/works/wish', "current_side_link")
      %li
        = sub_menu_link("О вере и непоколебимости", '/works/inflexibility', "")
      %li
        = sub_menu_link("Настойчивость", '/works/persistence', "")
      %li
        = sub_menu_link("Уравновешенность", '/works/balance', "")
  .text_content
    .article
      Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish
      Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish
      Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish
      Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish
      Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish
      Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish
      Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish
      Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish
      Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish
      Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish
      Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish
      Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish
      Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish Wish