.main_content
  .text_content
    .article
      Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants
      Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants
      Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants
      Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants
      Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants
      Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants
      Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants
      Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants
      Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants
      Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants
      Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants
      Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants
      Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants Pants
  .sub_menu
    %ul
      %li
        = sub_menu_link("Обувь", '/dress/shoes', "")
      %li
        = sub_menu_link("Штаны", '/dress/pants', "current_side_link")
      %li
        = sub_menu_link("Рубашки и футболки", '/dress/shirts', "")
      %li
        = sub_menu_link("Белье", '/dress/linen', "")
      %li
        = sub_menu_link("Носки", '/dress/socks', "")