.main_content
  .sub_menu
    %ul
      %li
        = sub_menu_link("Обувь", '/dress/shoes', "")
      %li
        = sub_menu_link("Брюки", '/dress/pants', "")
      %li
        = sub_menu_link("Рубашки и футболки", '/dress/shirts', "")
      %li
        = sub_menu_link("Белье", '/dress/linen', "")
      %li
        = sub_menu_link("Носки", '/dress/socks', "current_side_link")
  .text_content
    .article
      Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks
      Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks
      Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks
      Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks
      Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks
      Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks
      Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks
      Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks
      Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks
      Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks
      Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks
      Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks
      Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks Socks