.main_content
  .text_content
    .article
      Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing
      Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing
      Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing
      Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing
      Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing
      Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing
      Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing
      Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing
      Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing
      Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing
      Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing
      Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing
      Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing
      Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing
      Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing Socializing
  .sub_menu
    %ul
      %li
        = sub_menu_link("Запретные темы разговоров", '#', "")
      %li
        = sub_menu_link("Общение на улице", '#', "")
      %li
        = sub_menu_link("Подход и страхи", '#', "")
      %li
        = sub_menu_link("Темы разговоров", '#', "")
      %li
        = sub_menu_link("Взятие телефона", '#', "")
      %li
        = sub_menu_link("Свиданки", '#', "")
      %li
        = sub_menu_link("Что дальше?", '#', "")
      %li
        = sub_menu_link("Зачем все это?", '#', "")