.main_content
  .text_content
    .article
      Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes
      Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes
      Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes
      Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes
      Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes
      Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes
      Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes
      Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes
      Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes
      Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes
      Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes
      Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes
      Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes Themes
  .sub_menu
    %ul
      %li
        = sub_menu_link("Запретные темы разговоров", '/socializings/themes', "current_side_link")
      %li
        = sub_menu_link("Общение на улице", '/socializings/street', "")
      %li
        = sub_menu_link("Подход и страхи", '/socializings/fear', "")
      %li
        = sub_menu_link("Темы разговоров", '/socializings/talk', "")
      %li
        = sub_menu_link("Взятие телефона", '/socializings/taking', "")
      %li
        = sub_menu_link("Свиданки", '/socializings/date', "")
      %li
        = sub_menu_link("Что дальше?", '/socializings/further', "")
      %li
        = sub_menu_link("Зачем все это?", '/socializings/why_all_this', "")