.main_content
  .text_content
    .article
      Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking
      Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking
      Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking
      Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking
      Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking
      Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking
      Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking
      Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking
      Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking
      Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking
      Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking
      Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking
      Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking Smoking
  .sub_menu
    %ul
      %li
        = sub_menu_link("Места отдыха", '/rests/places', "")
      %li
        = sub_menu_link("Развлечения", '/rests/entertainment', "")
      %li
        = sub_menu_link("О коктейлях", '/rests/cocktail', "")
      %li
        = sub_menu_link("О кальянах", '/rests/hookah', "")
      %li
        = sub_menu_link("О курении", '/rests/smoking', "current_side_link")
      %li
        = sub_menu_link("О спиртных напитках", '/rests/beverages', "")
      %li
        = sub_menu_link("О роликах и коньках", '/rests/roller', "")