.main_content
  .text_content
    .article
      Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming
      Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming
      Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming
      Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming
      Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming
      Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming
      Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming
      Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming
      Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming
      Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming
      Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming
      Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming
      Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming
      Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming Grooming
  .sub_menu
    %ul
      %li
        = sub_menu_link("Уход за телом", "/groomings/body_care", "")
      %li
        = sub_menu_link("Уход за волосами", "/groomings/heir_care", "")
      %li
        = sub_menu_link("Уход за ногтями", "/groomings/nail_care", "")
      %li
        = sub_menu_link("Уход за руками", "/groomings/hend_care", "")
      %li
        = sub_menu_link("Уход за лицом", "/groomings/face_care", "")
      %li
        = sub_menu_link("Тренировка голоса", "/groomings/vote_traning", "")
      %li
        = sub_menu_link("Выработка походки", "/groomings/walk_traning", "")