.main_content
  .sub_menu
    %ul
      %li
        = sub_menu_link("Уход за телом", "/groomings/body_care", "")
      %li
        = sub_menu_link("Уход за волосами", "/groomings/heir_care", "")
      %li
        = sub_menu_link("Уход за руками", "/groomings/hand_care", "")
      %li
        = sub_menu_link("Уход за лицом", "/groomings/face_care", "")
      %li
        = sub_menu_link("Тренировка голоса", "/groomings/vote_training", "current_side_link")
      %li
        = sub_menu_link("Выработка походки", "/groomings/walk_training", "")
  .text_content
    .article
      Vote training. Vote training. Vote training. Vote training. Vote training. Vote training. Vote training.
      Vote training. Vote training. Vote training. Vote training. Vote training. Vote training. Vote training.
      Vote training. Vote training. Vote training. Vote training. Vote training. Vote training. Vote training.
      Vote training. Vote training. Vote training. Vote training. Vote training. Vote training. Vote training.
      Vote training. Vote training. Vote training. Vote training. Vote training. Vote training. Vote training.
      Vote training. Vote training. Vote training. Vote training. Vote training. Vote training. Vote training.
      Vote training. Vote training. Vote training. Vote training. Vote training. Vote training. Vote training.
      Vote training. Vote training. Vote training. Vote training. Vote training. Vote training. Vote training.
      Vote training. Vote training. Vote training. Vote training. Vote training. Vote training. Vote training.
      Vote training. Vote training. Vote training. Vote training. Vote training. Vote training. Vote training.
      Vote training. Vote training. Vote training. Vote training. Vote training. Vote training. Vote training.
      Vote training. Vote training. Vote training. Vote training. Vote training. Vote training. Vote training.
      Vote training. Vote training. Vote training. Vote training. Vote training. Vote training. Vote training.