.main_links
  .links_container
    = menu_link 'О сайте', faces_path, 'faces'
    = menu_link 'Ухоженость', groomings_path, 'grooming'
    = menu_link 'Одежда', dress_path, 'dress'
    = menu_link 'Тело', {:controller => 'body', :action => 'index'}, 'body'
    = menu_link 'Мозг', '#'
    = menu_link 'Досуг', '#'
    = menu_link 'Работа', '#'
    = menu_link 'Общение', '#'
    = menu_link 'Об авторе', '#'