:javascript
  $(document).ready(function(){
    var section = parseInt("#{@current_item}");

    $('.links_container a').each(function(element){
      $(this).removeClass();
    });

    $('.links_container a')[section].addClass('current_section');
  });

.main_links
  .links_container
    = link_to 'О сайте', faces_path
    = link_to 'Ухоженость', groomings_path
    = link_to 'Одежда', '#'
    = link_to 'Тело', '#'
    = link_to 'Мозг', '#'
    = link_to 'Досуг', '#'
    = link_to 'Работа', '#'
    = link_to 'Общение', '#'
    = link_to 'Об авторе', '#'